<div style="background:url('/images/top_bar.jpg'); margin:0 auto; width:100%; text-align:center;">
  <img src="/images/top_image.jpg"/>
</div>
<div style="background-color:white; margin:0 auto; width:980px; border-radius:20px;  -moz-box-shadow:    3px 3px 3px 3px #888;
  -webkit-box-shadow: 3px 3px 3px 3px #888;
    box-shadow:         3px 3px 3px 3px #888; padding-left:20px; padding-top:10px; margin-top:10px;" >
  <h1>대학행정교육원 설문조사</h1>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>
  <p>설문</p>

</div>
<div style="width:100%; background-color:#ececec; margin:0 auto; text-align:center;">
  <img src="/images/copyright.jpg">
</div>
