<%=render "top"%>
<div class="white_box" >
  <form action="/admin/new_process" method="post"> 
    <h1>설문 제목</h1>
    <input type="text" name="title">
    <h3>설문 설명</h3>
    <textarea name="content"></textarea><br>
    <input type="submit" value="다음 단계로">
  </form>
<br>
</div>
