<!DOCTYPE html>
<html>
<head>
  <title>대학행정교육원 설문조사</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div style="width:100%; background-color:#ececec; margin:0 auto; text-align:center;">
  <img src="/images/copyright.jpg">
</div>

</body>
</html>
